.menu-span{
    padding-left: 10px;
}

.columns{
  width: 100%;
}

#tabs > ul {
  border-bottom: 0;
}

#tabs li {
  border-bottom: 1px solid;
}

.brand{
  font-family: "Wallman";
  font-size: 1.5em;
}
