.menu-span {
  padding-left: 10px;
}

.columns {
  width: 100%;
}

#tabs > ul {
  border-bottom: 0;
}

#tabs li {
  border-bottom: 1px solid;
}

.brand {
  font-family: "Wallman";
  font-size: 1.5em;
}

.control.has-icons-left {
  padding: 10px 5px 5px;
  float: right;
}

#dropdown {
  padding: 10px 5px 5px;
}
