<mat-toolbar color='primary'>
  <mat-toolbar-row>
    <div class='container'>
        <div class='row'>
          <div class='col-md-3'>
            <span>Computer Management System</span>
          </div>
          <div class='col-md-3'></div>
          <div class='col-md-3'></div>
          <div class='col-md-3'>
              <span class="menu-span">
                  <button mat-icon-button [matMenuTriggerFor]="menuComputer" aria-label="Example icon-button with a menu">
                      <mat-icon>computer</mat-icon>
                    </button>
                    <mat-menu #menuComputer="matMenu">
                      <button routerLink='computer/create' mat-menu-item>
                        <mat-icon>add_circle_outline</mat-icon>
                        <span >New Computer</span>
                      </button>
                      <button routerLink='computer' mat-menu-item>
                        <mat-icon>list</mat-icon>
                        <span >List all computers</span>
                      </button>
                    </mat-menu>
              </span>
              <span class="menu-span" >
                  <button mat-icon-button [matMenuTriggerFor]="menuCompany" aria-label="Example icon-button with a menu">
                      <mat-icon>business</mat-icon>
                    </button>
                    <mat-menu #menuCompany="matMenu">
                      <button routerLink='company/create' mat-menu-item>
                        <mat-icon>add_circle_outline</mat-icon>
                        <span>New Company</span>
                      </button>
                      <button routerLink='company' mat-menu-item>
                        <mat-icon>list</mat-icon>
                        <span>List all companies</span>
                      </button>
                    </mat-menu>
              </span>
              <span class="menu-span" >
                  <button mat-icon-button [matMenuTriggerFor]="menuSettings" aria-label="Example icon-button with a menu">
                      <mat-icon>settings</mat-icon>
                    </button>
                    <mat-menu #menuSettings="matMenu">
                      <button  mat-menu-item>
                        <mat-icon>add_circle_outline</mat-icon>
                        <span>New User</span>
                      </button>
                    </mat-menu>
              </span>
          </div>
        </div>
    </div>
  </mat-toolbar-row>  
</mat-toolbar>
