<div class="formulaire">
  <form ngNativeValidate [formGroup]="computerForm">
    <mat-form-field>
      <input matInput placeholder="{{ 'form.name' | translate }}" required formControlName="name" id="name" >
    </mat-form-field>
    <br/>
    <mat-form-field>

      <input matInput [min]="minDate" [max]="computerForm.controls.discontinued.value" placeholder="{{ 'form.introduced' | translate }} (dd-mm-yyyy)"
             [matDatepicker]="introduced" formControlName="introduced" id="introduced" readonly="true">

      <mat-datepicker-toggle matSuffix [for]="introduced"></mat-datepicker-toggle>
      <mat-datepicker #introduced></mat-datepicker>
    </mat-form-field>
    <br/>

    <mat-form-field>
      <input matInput [min]=computerForm.controls.introduced.value [max]="maxDate" placeholder="{{ 'form.discontinued' | translate }} (dd-mm-yyyy)"
             [matDatepicker]="discontinued" formControlName="discontinued" id="discontinued" readonly="true">
      <mat-datepicker-toggle matSuffix [for]="discontinued"></mat-datepicker-toggle>
      <mat-datepicker #discontinued></mat-datepicker>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <div class="form-group">
        <label for="company">{{ 'form.company' | translate }}</label>
        <mat-select class="form-control" formControlName="company" id="company" required>
          <mat-option *ngFor="let company of companyList" [value]="company.id">{{company.name}}
          </mat-option>
        </mat-select>
      </div>
    </mat-form-field>
    <br/>
    <button type="button" class="button" (click)="cancel()">{{ 'form.cancel' | translate }}</button>
    <button class="button is-primary" (click)="onSubmitForm()" [mat-dialog-close] ="true">{{ 'form.save' | translate }}</button>

  </form>
  <small *ngIf="computerForm.hasError('notValid')">Introduced date is after discontinued date</small>
</div>
