<div class="formulaire">
  <div class ="unitForm">
  <h1>
    {{ 'form.add' | translate }}
  </h1>
    <br/>
  <form ngNativeValidate [formGroup]="computerForm" (ngSubmit)="onSubmitForm()">
    <mat-form-field>
      <input matInput placeholder="{{ 'listComputers.name' | translate }}" required formControlName="name" id="name" >
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="{{ 'listComputers.introduced' | translate }}" formControlName="introduced" id="introduced" >
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="{{ 'listComputers.discontinued' | translate }}" formControlName="discontinued" id ="discontinued">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <div class="form-group">
        <label for="company">{{ 'listComputers.company' | translate }}</label>
        <mat-select class="form-control" formControlName="company" id="company" required>
          <mat-option *ngFor="let company of companyList" [value]="company.id">{{company.name}}
          </mat-option>
        </mat-select>
      </div>
    </mat-form-field>
    <br/>
    <button class="btn btn-primary">Enregistrer</button>
  </form>
  </div>
</div>
