<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="name"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="introduced"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="discontinued"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="company">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>
