<div class="formulaire">
  <form ngNativeValidate [formGroup]="companyForm">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="{{ 'form.name' | translate }}" required>
    </mat-form-field>
    <div class="spacer"></div>
    <div mat-dialog-actions align="end">
      <button type="button" class="button" (click)="cancel()">{{ 'form.cancel' | translate }}</button>
      <button class="button is-primary" (click)="onSubmitForm()" mat-dialog-close>{{ 'form.save' | translate }}</button>
    </div>
    </form>
</div>
