<div>
  <div>
    <label>name:
      <input #computerName />
    </label>
  </div>
  <div>
      <label>introduced:
        <input #computerIntroduced />
      </label>
  </div>
  <div>
      <label>discontinued:
        <input #computerDiscontinued />
      </label>
  </div>
  <div>
      <label>company id:
        <input #companyId />
      </label>
  </div>
  <div>
      <label>company name:
        <input #companyName />
      </label>
  </div>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(computerName.value,computerIntroduced.value,computerDiscontinued.value,companyId.value,companyName.value); computerName.value=''">
    add
  </button>
</div>