
.example-card {
    width: 200px;
    height: 40%;
    text-align: center;
    margin: 10%;
}

.list {
    display : flex;
    flex-direction: row;
}

.image{
    height: 100px;
    width: auto;
    padding-left: 30%;
}

.bg {
    background: url("https://www.clker.com/cliparts/y/K/l/t/I/R/android-digital-d-wallpaper-hd-wallpapers-background-technology-picture-android-hd-wallpaper.svg")no-repeat center center;
    background-size: cover;
    height: 100vh;
  }

