@import '../../variables.scss';

#home {
  background: linear-gradient(rgba($primary,0.5),rgba($primary,0.7));
  height: calc(100vh - 52px);
}

.example-card {
    width: 200px;
    height: 40%;
    text-align: center;
    margin: 10%;
}

.list {
    display : flex;
    flex-direction: row;
}

.image{
    height: 100px;
    width: auto;
    padding-left: 30%;
}
