/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./variables.scss";

@font-face {
  font-family: "Wallman";
  src: url(assets/fonts/Wallman-Bold.ttf) format("truetype");
}



$navbar-background-color: $background-color;
$navbar-item-color: $orange;

$tabs-border-bottom-color: $background-color;
$tabs-link-active-border-bottom-color: $orange;
$tabs-link-active-color: $orange;
$tabs-link-color:$link-color;
$tabs-link-hover-border-bottom-color: $link-color;
$tabs-link-hover-color: $hover-color;
$tabs-link-padding: 0.5em 1.5em;

#language.select:after {
  border-color: $orange;
}

.fa-angle-down:before {
  color: $primary;
}

.brand a:hover, .brand a {
  color: $orange;
}

@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";
@import "../node_modules/bulma/sass/components/card.sass";
